$primary: white;
$secondary: grey;
$text-dark: #000000;

:root {
  --container-pad: 10rem;
}

@media (max-width: 768px) {
  :root {
    --container-pad: 7rem;
  }
}

@media (max-width: 576px) {
  :root {
    --container-pad: 3rem;
  }
}
