$primary: white;
$secondary: grey;
$text-dark: #000000;

:root {
  --container-pad: 10rem;
  --text-primary: rgb(239, 80, 77);
  --btn-primary: rgb(239, 80, 77);
  --btn-pbg: rgba(239, 80, 77, 0.05);
  --btn-pshadow: rgba(214, 57, 55, 0.3);
  --btn-ptext: white;
  --error-text: rgb(254, 215, 215);
  --sec-color: #252958;

  /* breakpoints lg */
  @media screen and (max-width: 62em) {
    --container-pad: 7rem;
  }
  /* breakpoints md */
  @media screen and (max-width: 48em) {
    --container-pad: 5rem;
  }
  /* breakpoints sm */
  @media screen and (max-width: 30em) {
    --container-pad: 1rem;
  }
}
