@import "variables";

:root {
  --card-width: 400px;
}

.article {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: var(--card-width);
  margin: 1rem calc((100% / 2 - var(--card-width)) / 2);

  &__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);

    img {
      width: 100%;
      height: auto;
    }
  }

  &__category,
  &__title h2,
  &__date,
  &__preview {
    margin: 0;
  }

  &__category {
    margin-top: 0.8rem !important;
  }

  &__title {
    margin: 1rem 0;
    text-decoration: none;
    color: var(--text-primary);
  }

  &__date {
    margin-bottom: 0.5rem !important;
  }

  &__preview {
    text-align: justify;
  }
}
