@import "variables";

footer {
  background-color: #252958;
  box-shadow: 0px -5px 10px rgba(28, 27, 82, 0.527);
  padding: 50px var(--container-pad);
  color: $primary;
}
.footer {
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    justify-content: space-between;
    flex-direction: row;
    width: 20%;
  }
  &__lv {
    height: 100%;
    width: 1px;
    background-color: black;
  }
  &__navigation {
    flex-direction: column;
    margin-left: 25px;
    justify-content: space-between;
    width: 50%;

  }
  &__copyright {
    padding-left: 10px;
  }
  @media screen and (max-width: 772px) {
    flex-direction: column;
    justify-content: center;
    &__logo {
      justify-content: center;
      width: 100%;
    }
    &__lv {
      display: none;
    }
    &__navigation {
      width: 100%;
      flex-direction: column;
      margin-left: 0;
      justify-content: center;
      align-items: center;
    }
  }

}

.footer .link {
  text-decoration: none;
  color: var(--btn-ptext) !important;
  padding: 0 10px;
}
