@import "variables";

nav {
  left: 0;
  top: 0;
  width: 100%;
  transition: all ease-in-out 0.3s;
  z-index: 99;
  position: absolute;
  color: black;
  height: 5rem;
}

.navbar__container {
  padding: 0 $container-pad;
}

nav.fixed {
  position: fixed;
  color: red;
  background-color: rgba(255, 255, 255, 0.9);
  height: 4rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.nav-items .link {
  position: relative;
  margin: 0 1rem;
  font-weight: 700;
  font-size: 1rem;
}

.nav-items .link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  border-bottom: 2.5px solid black;
  transition: all 0.3s;
}

.scrolled .link::after {
  border-bottom: 2.5px solid #ef504d !important;
}

.nav-items .link:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .nav-items {
    position: fixed;
    left: -115%;
    top: 5rem;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.87);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  ul.nav-menu.active {
    padding-left: 0px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
