@import "variables";

.post {
  min-height: calc(100vh - 14rem);
  h1,
  h3,
  p {
    margin: 0;
  }

  &__title {
    text-align: center;

    @media screen and (max-width: 48em) {
      font-size: 1.8rem;
    }

    /* breakpoints sm */
    @media screen and (max-width: 30em) {
      font-size: 1.5rem;
    }
  }

  &__author {
    text-align: center;
    margin-top: 0.5rem !important;

    @media screen and (max-width: 48em) {
      font-size: 1.2rem;
    }

    /* breakpoints sm */
    @media screen and (max-width: 30em) {
      font-size: 1rem;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    img {
      width: 60%;
      height: auto;
      border-radius: 5px;

      /* breakpoints md */
      @media screen and (max-width: 48em) {
        width: 80%;
      }

      /* breakpoints sm */
      @media screen and (max-width: 30em) {
        width: 100%;
      }
    }
  }

  &__content {
    margin-top: 1rem !important;
    text-align: justify;
  }

  &__cat {
    margin-top: 2rem !important;
    font-weight: 700;
  }
}

/* breakpoints 2xl */
@media screen and (max-width: 96em) {
}

/* breakpoints xl */
@media screen and (max-width: 80em) {
}

/* breakpoints lg */
@media screen and (max-width: 62em) {
}

/* breakpoints md */
@media screen and (max-width: 48em) {
}

/* breakpoints sm */
@media screen and (max-width: 30em) {
}
